.CounterOutput {
    width: 100%;
    background-color: #e9ebee;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}
